<!DOCTYPE html>
<html>
<head>
  <title>Bitsandgold</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1 class="center-text">Bits and Gold</h1>
    <h3 class="center-text">Stock symbol lookup, priced in non-fiat currencies</h3>
    <hr />
    <%= yield %>
  </div>
</body>
</html>
